
#app {
  display: grid;
  /* Dividindo os dois conteudos na tela com calculo (656*100)/1280 656 é tamanho definido na figma e 100% / tamanho do monitor*/
  grid-template-columns: 51.25% 48.75%;

  height: 100vh; /* tamanho total da tela */
  /* aqui não vai ter rolagem e nem transbordamento do conteudo deixando com a barra de rolagem */
  overflow: hidden; /*GARANTINDO*/

}



/* #app - mobile */
@media (width < 80em) {
  #app {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    overflow: auto; 
  }
}



main {
  /* aqui vai ter rolagem */
  overflow: initial;
  padding: 4rem;

  /* Limitando o conteudo e texto */
  & .main-container {
    max-width: 33rem;
    margin-left: auto;
  }

  & .back {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
  }

  & h1 {
    font: 600 1.5rem/1.25 var(--font-family);
    margin-bottom: 0.5rem;
  }
}



/* main - DESCKTOP */
@media (width >= 80em) {
  main {
    overflow: auto;
  }
}

/* main - mobile */
@media (width < 80em) {
  main {
    padding: 24px;
  }
}

aside {
  background-color: var(--surface-secondary);
  padding: 4rem;

  /* Limitando o conteudo e texto */
  & .aside-container {
    max-width: 31rem;

    & img {
      margin-top: 2rem;
    }
  }

  & h2 {
    font: 600 2.5rem/1.25 var(--font-family);
    margin-bottom: 0.5rem;

    & span {
      color: var(--text-highlight);
    }
  }
}


/* aside - mobile */
@media (width < 80em) {
  aside {
    padding-inline: 24px;
    padding-block: 24px;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    
    & img:nth-child(1){
      margin-top: 0;
    }

    & h2 {
      display: none;
    }

    & p {
      font-size: 0;
    }

    & img:nth-last-child(1){
      width: 312px;
      height: 232px;
    }
  }
}